*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #434343, #000);
}
h1{
    font-size: 10xh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background: linear-gradient(to left, lightgreen, lightcoral, deeppink);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}